<div class="container mt-5">
  <div class="row">
    <h1>Your bookings</h1>
  </div>

</div>

<div class="container mt-5">
    <div class="cards-booking">
    <% @bookings.each do |booking| %>
      <%= render 'shared/card_booking', booking: booking %>
    <% end %>
  </div>
</div>
