// .carousel-inner {
// }

.carousel-item {
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0) 0px);
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  object-fit: cover;
}

.carousel-caption {
  top: 70px;
  bottom: auto;
}
