.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* Navbar container */
.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
  border-color: rgb(209, 209, 209);
  background-position: 70% 70%;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

.navbar-nav .nav-item a:hover {
  color: #ffcc00; /* Change text color on hover */
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}
