.badge {
  &.rounded-pill {
    background-color: white;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    &.status-pending {
      border-color: #f0ad4e;
    }

    &.status-accepted {
      border-color: #5cb85c;
    }

    &.status-declined {
      border-color: #d9534f;
    }
  }
}

.btn-custom {
  border: 2px solid transparent;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-accept {
  background: white;
  color: black;
  border-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background: #28a745; /* Green background */
    color: white;
  }
}

.btn-decline {
  background: black;
  color: white;
  border-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background: #dc3545; /* Red background */
    color: white;
  }
}
