<div class="container mt-5">
  <div class="row">
    <div class="d-flex justify-content-between">
      <h1>Showing result</h1>
    </div>
  </div>
</div>

<div class="container mt-5 pad-bottom">
  <div class="cards">
    <% @cars.each do |car| %>
      <%= render 'shared/card', car: car %>
    <% end %>
  </div>
</div>
